<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="resumo">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Resumo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estoque">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Estoque</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vendas">
      <ion-icon name="square"></ion-icon>
      <ion-label>Vendas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos">
      <ion-icon name="square"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
